.menu {
  margin: 0;
  box-sizing: border-box;
  z-index: 32000;
  display: none;
  max-height: 100%;
  overflow:auto;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  border-radius: 2px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  padding: 3px 0;
}


.menuitem {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0 0;
}

.menuitem.active > .menu {
  display: block;
}

.menuitem-text {
  width: 100%;
  margin-right: 28px;
}

.menuitem-shortcut {
  opacity: 0.7;
}

.menuitem button {
  background: transparent;
  border: solid 1px transparent;
  border-radius: 0;
  color: #666;
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font: 400 normal 12px/1em "Source Sans Pro", sans-serif;
  padding: 6px 24px;
  position: relative;
  text-align: left;
  transition: none;
  white-space: nowrap;
  width: 100%;
}

.menu hr {
  border: none;
  border-top: solid 1px #e8e8e8;
  margin: 2px 2px 3px 22px;
  padding: 0;
}

.menuitem button::-moz-focus-inner {
  border: none;
}

.has-menuitems.active > button,
.menuitem button:hover,
.menuitem button:focus,
.menuitem button:active {
  background-color: #f0f0f0;
  color: #444;
  outline: none;
}

.menuitem button:disabled {
  color: #bbb;
  cursor: default;
}

.menuitem button:disabled:hover {
  background: transparent;
}

.menuitem .default-item {
 font-weight: bold;
}

.has-menuitems > button::after {
  position: absolute;
  top: 0;
  right: 8px;
  display: flex;
  height: 100%;
  align-items: center;
  align-content: center;
  content: '\e5cc';
  font-size: 15px;
  font-family: "Material Icons";
}

.menuitem.checkbox.checked button::before {
  content: '\e5ca';
  position: absolute;
  left: 4px;
  top: 0;
  font-weight: 400;
  font-family: material icons;
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  height: 100%;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: left;
}

.menuitem.radio.checked button::before {
  content: '\25cf';
  position: absolute;
  left: 4px;
  top: 0;
  font-weight: 400;
  font-family: material icons;
  font-size: 10px;
  line-height: 16px;
  width: 16px;
  height: 80%;
  color: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}



.menu-icon {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuitem-fonticon {
  position: absolute;
  top: 0;
  left: 8px;
  display: flex;
  align-items:center;
  width: 16px;
  height: 100%;
  text-align: center;
  line-height: 16px;
  font-family: Material Icons;
  font-size: 16px;
}

.menubar ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  color: #555;
  border-bottom: solid 1px #ddd;
}

.menubar button {
  border:none;
  border-bottom: solid 2px transparent;
  background: transparent;
  padding: 4px 6px;
  font: 400 normal 12px/1.2 "Source Sans Pro", Arial, Helvetica, sans-serif;
  color: inherit;
}

.menubar button:hover,
.menubar button.active {
  border-color: currentColor;
  background: transparent;
  color: cornflowerblue;
}
